<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Math</title>
	</head>
	<h1>Math Stuff</h1>
	<body>
		<script>
      const sqrt = require("math-sqrt");
        let value = (x) => sqrt();
        let x = Date.now();
        let y = (sqrt(x));
        console.log(x);
        console.log(y);
        sqrt(y);
        document.write("First Test Value : " + x );
        document.write("Second Test Value : " + y );
			  document.write("<br />Third Test Value : " + sqrt(x) );
			  document.write("<br />Fourth Test Value : " + sqrt(y) );
		</script>
	</body>
</html>
